*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

#app {
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-text);
  margin-top: 60px;
}

/* Global Styles */
body {
  background-color: var(--color-background-dark);
}
button {
  background-color: transparent;
  border: none;
  font-size: 1em;
  cursor: pointer;
  padding: 0;
}
label {
  font-size: 1.15em;
  cursor: pointer;
  padding: 0.5em;
}

input[type='checkbox'] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: transparent;
  /* Not removed via appearance */
  margin: 0;
  font: inherit;
  color: currentColor;
  cursor: pointer;
  width: 1em;
  height: 1em;
  display: grid;
  place-content: center;
}

svg {
  fill: currentColor;
}
button.selected {
  cursor: auto;
  color: black;
  border-color: black;
  border-width: 2px;
}

svg {
  height: 1em;
  width: 1em;
}

/* Mail Screen */
.Container {
  padding: 3vw;
}

@media (min-width: 700px) {
  .Container {
    display: grid;
    grid-gap: var(--gap-container);
    grid-template-columns: 1fr 6fr;
    grid-template-areas:
      'title title '
      '.... bulkAction'
      'sidebarNav mailList';
  }
  .ActionBar {
    margin-bottom: calc(-1 * var(--gap-container));
  }
}
.Title {
  grid-area: title;
}
